{% extends 'base.html' %}
{% block content %}
<h2 class='d-inline fs-2 fw-bold'>알고리즘</h2>
<hr>
<table class="table my-1">
  <form class="form-inline" method="GET" action="{% url 'algorithms:problem_search' %}">

    {% for level in levels  %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="f" value={{ level }}>
      <label for="inlineCheckbox4">{{ level }}</label>
    </div>
    {% endfor %}
    <button type="submit">검색</button>
  </form>
  <thead> 
    <tr class="fs-5 text-center">
      <th scope="col" class="col-2">번호</th>
      <th scope="col" class="col-5">제목</th>
      <th scope="col" class="col-2">레벨</th>
      <th scope="col" class="col-1">좋아요</th>
    </tr>
  </thead>
    {% for f_problem in f_problems  %}
      <tr>
        <th scope="row" class="text-center">{{ f_problem.pk }}</th>
        <td>
          <a href="{% url 'algorithms:problem_detail' f_problem.pk %}" class="text-decoration-none text-black">
            {{ f_problem.title }} 
          </a>
        </td>
        <td class="text-center">{{ f_problem.level }}</td>
        <td class="text-center">{{ f_problem.like_users }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-between align-items center">
  <div class="left" style='width:400px;'>
    <a href="{% url 'algorithms:problem_create' %}" class='d-inline btn btn-dark d-inline'>NEW</a>
  </div>
  <div class="mid text-center" style='width:400px;'>
    <p>pagenation</p>
  </div>
  <div class="right text-end" style='width:400px;'>
    <p>검색기능</p>
  </div>
</div>
{% endblock content %} 