{% extends 'base.html' %}

{% block content %}
<div class="container">
  <ul class="nav nav-tabs my-3 fs-10 fw-bold">
    <div class="collapse navbar-collapse d-flex justify-content-between">
      <li class="nav-item">
        <a class="nav-link active text-decoration-none" aria-current="page" href="{% url 'algorithms:problem_detail' problem.pk %}">{{ problem.pk }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="#">테스트케이스</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">질문</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'algorithms:solution_index' problem.pk %}">해답</a>
      </li>
    </div>
  </ul>
</div>

<div class="container">
  <a href="{{ problem.problem_url }}"><h1 class="fw-bold text-decoration-none">{{ problem.title }}</h1></a> <span>{{ problem.level }}</span>
  <hr>
  <h4 class="fw-bold">문제</h4>
  <hr>
  <p>{{ problem.content }}</p>
  <div class="row">
    <div class="col">
      <h4 class="fw-bold">예제 입력</h4>
      <hr>
      {{ problem.input }}
    </div>
    <div class="col">
      <h4 class="fw-bold">예제 출력</h4>
      <hr>
      {{ problem.output }}
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-start">
    <div class="left" style='width:100px;'>
      <a href="{% url 'algorithms:problem_update' problem.pk %}" class='btn btn-dark'>UPDATE</a>
    </div>
    <div class="left" style='width:100px;'>
      <form action="{% url 'algorithms:problem_delete' problem.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE" class='btn btn-dark'>
      </form>
    </div>
  </div>
</div>
{% endblock content %}