{% extends 'base.html' %}

{% block content %}
<div class="container">
  <ul class="nav nav-tabs my-3 fs-10 fw-bold">
    <div class="collapse navbar-collapse d-flex justify-content-between">
      <li class="nav-item">
        <a class="nav-link active text-decoration-none" aria-current="page" href="{% url 'algorithms:problem_detail' problem.pk %}">{{ problem.pk }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="#">테스트케이스</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">질문</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'algorithms:solution_index' problem.pk %}">해답</a>
      </li>
    </div>
  </ul>
</div>

<div class="container">
  <h1 class="fw-bold">{{ problem.title }}</h1> <span>{{ problem.level }}</span>
  <hr>
  {% for solution in solutions %}
  <div class="container border">
    <div class="d-flex justify-content-between py-3">
      <div class="d-flex">
        <p class="py-1">좋아요 : <span id="like-count-{{ solution.pk }}">{{ solution.like_users.all|length }}</span>개</p>
        <form class="like-form px-3" data-solution-id="{{ solution.pk }}" data-problem-id="{{ problem.pk }}">
          {% csrf_token %}
          {% if user in solution.like_users.all %}
            <button id="like-{{ solution.pk }}">좋아요 취소</button>
          {% else %}
            <button id="like-{{ solution.pk }}">좋아요</button>
          {% endif %}
        </form>
      </div>
      <p>작성자 : {{ solution.user }} | 작성일 : {{ solution.created_at }}</p>
    </div>
    <h4 class="fw-bold">힌트</h4><hr>
    <p>{{ solution.hint }}</p><hr>

    <div class="accordion py-3" id="accordionFlushExample">
      <div class="accordion-item bg-light">
        <h2 class="accordion-header" id="flush-heading{{ solution.pk }}">
          <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ solution.pk }}" aria-expanded="false" aria-controls="flush-collapse{{ solution.pk }}">
            코드보기
          </button>
        </h2>
        <div id="flush-collapse{{ solution.pk }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ solution.pk }}" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <h4 class="fw-bold">코드</h4><hr>
            <p>{{ solution.code }}</p>
            <h4 class="fw-bold">설명</h4><hr>
            <p>{{ solution.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="fw-bold">댓글</h4><hr>
    {% for comment in solution.comment_set.all %}
    <p> - {{ comment.content }} <span class="text-black-50">{{ comment.user }} {{ comment.created_at }}</span></p>
    {% endfor %}
    <form action="{% url 'algorithms:solution_comment' problem.pk solution.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" class="btn btn-dark">
    </form>
  </div>
  {% if request.user == solution.user %}
    <div class="d-flex justify-content-start py-2">
      <div class="left" style='width:100px;'>
        <a href="{% url 'algorithms:solution_update' problem.pk solution.pk %}" class='btn btn-dark'>UPDATE</a>
      </div>
      <div class="left" style='width:100px;'>
        <form action="{% url 'algorithms:solution_delete' problem.pk solution.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="DELETE" class='btn btn-dark'>
        </form>
      </div>
    </div>
  {% endif %}
  <hr>
  {% endfor %}
</div>

<div class="d-flex justify-content-start">
  <div class="left" style='width:100px;'>
    <a href="{% url 'algorithms:solution_create' problem.pk %}" class='btn btn-dark'>SOLUTION CREATE</a>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  const forms = document.querySelectorAll('.like-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  forms.forEach(function (form) {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const { solutionId, problemId } = event.target.dataset
      axios({
        url: `/algorithms/${problemId}/solution/${solutionId}/likes/`,
        method: 'post',
        headers: {'X-CSRFToken': csrftoken}
      })
        .then(response => {
          const { liked, count } = response.data
          const likeBtn = document.querySelector(`#like-${solutionId}`)
          if (liked) {
            likeBtn.innerText = '좋아요 취소'
          } else {
            likeBtn.innerText = '좋아요'
          }
          const likeCount = document.querySelector(`#like-count-${solutionId}`)
          likeCount.innerText = count
        })
        .catch(error => {
          if (error.response.status === 401) {
            window.location.href = '/accounts/signin/'
          }
        })
    })
  })
</script>
{% endblock scripts %}